<form action="/add" method="POST">
    <p>Postagem:</p>
    <input type="text" name="titulo" id="">

    <p>Conteudo:</p>
    <input type="text" name="conteudo" id="">

    <button type="submit">Cadastrar Postagem</button>
</form>