<h1>Listas de posts: </h1>

{{#each posts}}
  <h1>{{titulo}}</h1>
  <p>{{conteudo}}</p>
  <a href="/deletar/{{id}}" button type="submit">Deletar</button></a>
  <a href="/edit/{{id}}" button type="submit">Editar</button></a>
  <hr>
{{/each}}
